<%= form_for(@train_stop) do |f| %>
  <% if @train_stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train_stop.errors.count, "error") %> prohibited this train_stop from being saved:</h2>

      <ul>
      <% @train_stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :arrive_time %><br>
    <%= f.time_select :arrive_time %>
  </div>
  <div class="field">
    <%= f.label :depart_time %><br>
    <%= f.time_select :depart_time %>
  </div>
  <div class="field">
    <%= f.label :line_id %><br>
    <%= f.number_field :line_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
